.pytest_cache
.ruff_cache
.scannerwork
.venv
.vscode
build
docs
extras
nutzer.egg-info
htmlcov
log
site
src/nutzer/**/__pycache__
src/nutzer/config/resources/tls/key.pem
tests
.coverage
.editorconfig
.gitignore
.markdownlint.yml
dependency-check-report.html
Dockerfile
Dockerfile.alpine
mkdocs.yml
openapi.json
patienten-*.xlsx
report.html
sonar-*
