DATABASE_URL=postgresql://player:p@localhost:5432/player
DATABASE_URL_ADMIN=postgresql://postgres:p@localhost:5432/player

CLIENT_SECRET=CHANGE_ME_AFTER_KEYCLOAK_SETUP
LOG_LEVEL=debug
NODE_ENV=development
