.venv
__pycache__/
.pytest_cache
.ruff_cache
.scannerwork
.vscode
build/
dist
extras/**/__pycache__
htmlcov
log
site
src/nutzer/**/__pycache__
tests/**/__pycache__
.coverage
report.html
*.xlsx
dependency-check-report.html
alt/
notizen/
hien.md

# Sensible Daten
.env
secret.txt
sonar-project.properties
extras/compose/postgres/password.txt
extras/compose/nutzer/.env
src/nutzer/config/resources/tls/key.pem
src/nutzer/config/resources/app.toml
extras/compose/nutzer/app.toml
